<!DOCTYPE html>
<html>
  <head>
<!-- Path to file-->    
    <link rel="stylesheet" href="/DashboardViews/dashboard.css" />
<!-- Path to file-->    
    <link rel="stylesheet" href="/DashboardViews/dashboardguide.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Kaisei+Decol:wght@500&family=Kalam:wght@300;700&display=swap" rel="stylesheet">
<!-- Path to file-->    
    <script src="/DashboardViews/dashboard.js"></script>

    <!-- CSS stuff -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Java Script stuff-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Dropdowns, Popovers, Tolltips -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Added this for the Ajax server calls -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Used for it's ajax call -->
    <script type="module" src="/DashboardController.mjs"></script>

    
    <!-- Tab logo --> 
<!-- Path to file-->    
    <link rel="icon" href="/mic.png">
    <title>Dashboard</title>

  </head>
  <body>
    <div class="dashboard">
        <div class="overlap">
<!-- Path to file-->            
            <a href="player_view.html" class="card-link">
                <div class="player-view">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
<!-- Path to file-->                        
                        <img class="playpage" src="/DashboardViews/DashboardMedia/PlayPage 1.png" />
                        <div class="text-wrapper">Player View</div>
                        <!-- <div class="ellipse"></div> -->
                    </div>
                </div>
            </a>
<!-- Path to file-->            
            <!-- <a href="/EditorViews/editor.html" class="card-link"> -->
            <a class="card-link" id="editorModal" data-toggle="modal" data-target="#exampleModal" >
                <div class="editor-view">
                    <div class="div">
                        <div class="rectangle-2"></div>
<!-- Path to file-->                        
                        <img class="badasseditpage" src="/DashboardViews/DashboardMedia/BadassEditPage 1.png" />
                        <div class="text-wrapper-2">Editor View</div>
                        <div class="ellipse-2"></div>
                    </div>
                </div>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#exampleModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    <!-- Add table to access projects from editor.html -->
                        <div class="modal-body">
                            <table id="editorProjects">
                                <tr colspan="5" style="border: none;">
                                  <th style="border: 1px solid black; width: 32%;">Project Name</th>
                                  <th style="border: 1px solid black; width: 32%;">Created At</th>
                                  <th style="border: 1px solid black; width: 32%;">Updated At</th>
                                  <th style="width: 4%; border: none;"><input type="image" src="/EditorMedia/Plus.png" width="20" height="20" data-toggle="modal" data-target="#leaveModal" id="backgroundPlusButton"></th>
                                </tr>
                            </table>
                            <br>
                            
                            <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#leaveModal">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <!-- insert values -->
                                    <div class="modal-body">

                                        <b>Project Name:</b><br>
                                        <input type="text" name="projectName" id="insertProjectName" placeholder="Enter project name">
                                        <br><br>

                                        <b>Audio File Input:</b><br>
                                        <input type="file" id="audioInput" name="audioInput">
                                        <br><br>

                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#leaveModal">Close</button>
                                      <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- Div for modifying existing project -->
                            <!-- button for edit, delete, and open -->
                            <!-- <div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Add Project</button>
                            </div> -->
                        </div>
                        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#exampleModal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            </div>
            <div class="overlap-2">
                <!-- <div class="top-bar"></div> -->
                <!-- bootstrap Navigation bar -->
                <nav class="navbar top-bar">
                    <div class="container-fluid">
                        <div class="songcanvas-logo">
                            <div class="overlap-3">
<!-- Path to file-->                                
                                <img class="polygon" src="/mic_body.png" />
<!-- Path to file-->                                
                                <img class="img" src="/mic_head.png" />
                                <div class="rectangle-3"></div>
                                <div class="s-ngcanvas">S&nbsp;&nbsp;ngCanvas</div>
                            </div>
                        </div>
                </nav>    
                <!-- <img class="profile-picture" src="/images/Profile Picture.png" /> -->
                <nav class="navbar navbar-expand-xxxl"> 
                    <!-- bg-body-tertiary -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <!-- Note
                        &nbsp; => one space
                        &ensp; => two space
                        &emsp; => four space -->

                    <div class="collapse navbar-collapse" style="background-color: #ecb5a2;" id="navbarNavAltMarkup">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
<!-- Path to file-->                                
                                <a class="nav-link" href="#">
                                    &emsp;About Us
<!-- Path to file-->                                    
                                    <!-- <div class="hover-gif">                                        
                                        <img src="/images/music.gif" class="hover-gif-img">
                                    </div> -->
                                </a>
                            </li>
                            <li class="nav-item">
<!-- Path to file-->                                
                                <a class="nav-link" href="#">&emsp;<img src="/navbar/question.png" class="mini-pic">&ensp;Q&A</a>
                            </li>
                            <li class="nav-item">
<!-- Path to file-->                                
                                <a class="nav-link" href="#">&emsp;<img src="/navbar/settings.png" class="mini-pic">&ensp;Settings</a>
                            </li>
                            <li class="nav-item">
<!-- Path to file-->                                
                                <a class="nav-link" href="/">
                                    &emsp;Log Out
                                    <div class="hover-gif">
<!-- Path to file-->                                        
                                        <img src="/navbar/shrug-carrie-underwood.gif" class="hover-gif-img">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
<!-- Path to file-->                                    
                                    <!-- <img src="/images/cancel.png" width="30" height="30">
                                    <i class="bi bi-x" style="font-size: 20px;"></i> -->
                                    &emsp;<button type="button" class="btn-close" aria-label="Close"></button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
                <!-- </nav> -->
        </div>
    </div>
</body>
</html>